// seletor {
//       propriedade: valor;
//}

h1 {
  color: blue;
}

h2 {
  color: red;
}

.tituloVerde {
  color: green;
}

.laranja {
  color: orange;
}

main {
  border: solid 2px blue;
}

footer {
  border: solid 2px tomato;
}

#sessaoMain {
  border: solid 3px green;
}

div {
  background-color: red;
}

.corBege {
  background-color: burlywood;
}

.corRoxa {
  background-color: blueviolet;
}

.corLaranja {
  background-color: orange;
}